.filters__title
  display: none
  @media #{$medium}
    display: block
    margin: 0 0 8px 0
    font-size: 18px
    font-weight: 700

.filters__group
  &:last-child
    margin-bottom: 0    

// .filters__select
//   $color: $gray-700
//   margin-bottom: $blockPaddingSmall
//   @media #{$medium}
//     margin-bottom: $blockPaddingMedium
//   &:last-child
//     margin-bottom: 0
//   .Select-control
//     border-color: $color
//   .Select-arrow
//     border-color: $color transparent transparent
//   .Select-placeholder
//     color: $color
